#*
#!target/*-runner
#!target/*-runner.jar
#!target/lib/*
#!target/quarkus-app/*

# Exclude build outputs but keep source files
target/
!.mvn/
!mvnw
!mvnw.cmd
!pom.xml
!src/

# Exclude IDE and system files
.git
.idea
*.iml
.vscode
.DS_Store